/* цвет основного текста #212121 */
/* вторичный цвет текста  #F5F5F5; */
/* белый #FFFFFF  */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA; */

:root {
    --primary-text-color: #F5F5F5;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --secondary-bg-color: #F5F4FA;
  }

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    letter-spacing: 0.03em;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid teal;
    display: inline-block;
}

.navigation {
    display: inline-block;
}

.navigation-list-item {
    display: inline;
}

.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.logo-black {
    color: black;
}

.contact-email-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.contact-email-link:hover,
.contact-email-link:focus {
    color: var(--accent-color);
}

.contact-tel-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.contact-tel-link:hover,
.contact-tel-link:focus {
    color: var(--accent-color);
}

.navigation-list-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus {
    color: var(--accent-color);
}

.main-img {
    text-align: center;
    /* position: absolute; */
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A;
    padding-top: 200px;
    padding-bottom: 280px;
} 

.main-img-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* text-align: center; */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 696px;
    /* margin-top: 200px; */
    margin-right: 452px;
    margin-bottom: 30px;
    margin-left: 452px;
}

/* button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 11px 34px;
  min-width: 130px;

  color: var(--title-text-color);
  background-color: var(--primary-white-color);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
}*/

.modal-button {
    display: flex;
    border: none;
    border-radius: 4px;
    margin-left: 700px;
    padding: 10px 32px 10px 32px ;
    
    background-color: var(--accent-color);
    min-width: 200px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

/*.features {
    visibility: hidden;
} */

.visually-hidden {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
      }
/* .features-block {
    margin-top: 600px;
} */

.features-list-item-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.features-list-item-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}

.areas-of-our-work-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
}

.areas-of-our-work-item {
    display: inline;
}

.team-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    color: var(--title-text-color);
}

.team-list-item-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color);
}

.team-list-item-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    color: #757575;
}

.logo-white {
    color: white;
}

.footer-img {
    position: absolute;
    width: 1600px;
    height: 252px;
    /* margin-top: 50px; */
    background: #2F303A;
}

.adress {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-white-color);
}

.adress-email,
.adress-tel {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.filter-buttons {
    visibility: hidden;
}

.filter-buttons-list-item {
    display: inline;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--title-text-color);
}

.filter-buttons-list-item-name {
    width: 145px;
    height: 38px;
    background-color: #F5F4FA;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    color: var(--title-text-color);
}

.filter-buttons-list-item-name:hover,
.filter-buttons-list-item-name:focus {
    color: white;
    background: var(--accent-color);
}

.developments-list-item-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.developments-list-item-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    color: #757575;
}
