/* цвет фона #FFFFFF;
вторичный цвет фона #F5F4FA;
третичный цвет фона #2F303A;
основной цвет текста #757575;
вторичный цвет текста (заголовки) #212121;
цвет эффектов  #2196F3;
 */
:root {
	--primary-text-color: #757575;
	--secondary-text-color: #212121;
	--secondary-background-color: #F5F4FA;
	--tertiary-background-color: #2F303A;
	--conditions-color: #2196F3;
	--conditions-subcolor: #FFFFFF;
}

body {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: #757575;
	background-color: #FFFFFF;
    
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

.section {
	outline: 1px solid palevioletred;
	padding-top: 94px;
	padding-bottom: 94px;
}



.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.link {
	text-decoration: none;
	font-style:normal;
	color: var(--primary-text-color);
}

.link:hover,
.link:focus {
	color: var(--conditions-color);
}

.button {
	display: inline-block;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-family: inherit;
	padding: 0;
	color: var(--secondary-text-color);
}

.button:hover,
.button:focus {
	color: var(--conditions-subcolor);
	background-color: var(--conditions-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.title {
	color: var(--secondary-text-color);
	margin-top: 0;
	margin-bottom: 0;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.no-gap {
	display: block;
}

/* шапка */

header {
	border-bottom: 1px solid #ECECEC;
}

.container.nav-header {
	display: flex;
	align-items: center;
}

.nav {
	display: flex;
	margin-right: auto;
}

.logo {
	display: block;
	padding-top: 24px;
	padding-bottom: 25px;
	margin-right: 93px;

	color: var(--conditions-color);
	text-decoration: none;
	font-family: Raleway;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19;
	
	cursor: default;
}

.studio-header {
	color: var(--secondary-text-color);
}

.site-nav {
	display: flex;
}

.site-nav > li:not(:last-child){
	margin-right: 50px;
}

.site-nav-item {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	
	color: var(--secondary-text-color);
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.site-nav-item.current {
	color: var(--conditions-color);
}

.contacts {
	display: flex;
	padding-top: 32px;
	padding-bottom: 32px;

	font-weight: 500;
	line-height: 1.1;
	letter-spacing: 0.02em;
}

.contacts > li:not(:last-child){
	margin-right: 50px;
}


/* main */

/* hero */

.hero {
	background-color: var(--tertiary-background-color);	
	text-align: center;
}

.hero.section {
	padding-top: 200px;
	padding-bottom: 200px;
}
.btn-hero {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: var(--conditions-subcolor); 
	background-color: var(--conditions-color);
	padding: 10px 32px;
}

.title-hero {
	margin-top: 0;
	margin-bottom: 30px;

	color: var(--conditions-subcolor);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	
}

/* features */

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.features {
	display: flex;
}

.feature-item.title {
	margin-bottom: 10px;
}

.feature:not(:last-child){
	margin-right: 30px;
}

.feature {
	flex-basis: calc(100%/4);
}

.feature-item {
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.feature-item-description {
	line-height: 1.71;
	font-weight: 400;
}

/* occupation and team */

.occupation.title,
.our-team.title {
	margin-bottom: 50px;
	
	font-size: 36px;
	line-height: 1.17;
}

.container.occupations, 
.container.team-cards {
	text-align: center;
}

.ocup-imgs {
	display: flex;
}

.ocup-img:not(:last-child){
	margin-right: 30px;
}

.ocup-img {
	flex-basis: calc(100%/3);
}

.team {
	background-color: var(--secondary-background-color);
}

.team-members {
	display: flex;
}

.team-member:not(:last-child){
	margin-right: 30px;
}

.team-member {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;

}

.member-description {
	padding-top: 30px;
	padding-bottom: 30px; 
	padding-left: 60px;
	padding-right: 59px;
}

.team-member-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	margin-bottom: 10px;
}

.team-member-area {
	line-height: 1.19;
	text-align: center;
}
  
/* .img-member.no-gap {
	margin-bottom: 30px;
} */

/* main portfolio*/

/* filters (код скрытия заголовка в features) */

.container.filters {
	margin-bottom: 34px;
}

.btn-fltr {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	letter-spacing: 0.03em;
	padding: 6px 22px;
}

/* grid */

.products-item-name {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	margin-bottom: 4px;
}

.products-item-type {
	font-size: 16px;
	line-height: 1.87;
}

.product-img.no-gap {
	margin-bottom: 20px;
}

/* footer */

.footer {
	background-color: var(--tertiary-background-color);
}

.container.foot {
	padding-top: 60px;
	padding-bottom: 60px;
}

.studio-footer {
	color: var(--conditions-subcolor);
}

.logo.ftr {
	margin-top: 0;
	margin-bottom: 20px;
	padding: 0;
}

.address-item:not(:last-child){
	margin-bottom: 9px;
}


/* .address-content {
	color: var(--conditions-subcolor);
	font-style: normal;
} */

.footer-contact {
	color: rgba(255, 255, 255, 0.6);
}

.address-link {
	text-decoration: none;
	font-style: normal;
	color: var(--conditions-subcolor);
}